/* Imports */
    @import url('https://fonts.googleapis.com/css2?family=Big+Shoulders+Display:wght@700&family=Lexend+Deca&display=swap');

/* Main Containers */
    :root{
        font-size: 62.5%;
        --paragraph-color: hsla(0, 0%, 100%, 0.75);
        --main-color: hsl(0, 0%, 95%);
        --sedans: hsl(31, 77%, 52%);
        --suvs: hsl(184, 100%, 22%);
        --luxury: hsl(179, 100%, 13%);
        --header-font: 'Big Shoulders Display', cursive;
        --main-font: 'Lexend Deca', sans-serif;
    }

    body{
        min-height:100vh;
        max-width:100vw;
        background-color: var(--main-color);
        display:flex;
        justify-content: center;
        align-items:center;
        margin:10rem 1rem;
    }

/* Sub-Containers I */
    main{
        border-radius:.7rem;
        width:100vw;
        min-height:50rem;
        display:grid;
        justify-content:center;
        grid-template-columns: repeat(auto-fit,minmax(15rem,calc(100rem / 3))); 
    }

/* Sub-Containers  II */
    section{
        padding: 5rem clamp(2.7rem,22vw,7.5rem) clamp(2.7rem,5vh,5rem) clamp(2.7rem,11vw,5rem); 
    }

    .sedans{
        background-color: var(--sedans);
        border-radius:.7rem .7rem 0 0;
    }

    .suvs{
        background-color: var(--suvs);
    }

    .luxury{
        background-color: var(--luxury);
        border-radius: 0 0 .7rem .7rem;
    }

/* Sub-Containers III */
    svg{
        width:clamp(4.6rem,15vw,6.5rem)
    }

    h1{
        color:var(--main-color);
        font-family: var(--header-font);
        font-size:clamp(2.7rem,10vw,3.9rem);
        text-transform: uppercase;
    }

    p{
        color:var(--paragraph-color);
        font-size:clamp(1rem,3.7vw,1.5rem);
        line-height:2.3rem;
    }

    button{
        background-color: var(--main-color);
        border:none;
        border-radius: 3rem;
        width:clamp(9rem,36vw,15rem);
        font-size:clamp(1rem,3.3vw,1.4rem); 
        height:clamp(3rem,15vw,4.5rem);
        margin-top:1rem;
    }

    .sedans button{
        color:var(--sedans);
    }

    .suvs button{
        color:var(--suvs);
    }

    .luxury button{
        color:var(--luxury);
    }

    p, button{
        font-family: var(--main-font);
    }

/* Pseudo-Elements */
    button:active{
        cursor:pointer;
        border:.2rem solid white;
        color:white;
    }

    .sedans button:active{
        background-color:var(--sedans);
    }

    .suvs button:active{
        background-color:var(--suvs);
    }

    .luxury button:active{
        background-color:var(--luxury);
    }

/* Media Queries */
@media screen and (min-width:687px){
    /*Sub-Containers I */
        body{
            margin:0;
        }
        
    /* Sub-Containers  II */
        .sedans{
            border-radius: .7rem 0 0 .7rem;
        }

        .luxury{
            border-radius: 0 .7rem .7rem 0;
        }

    /* Sub-Containers III */
        button{
            margin-top:8rem;
        }
}
